.foo {
  color: #000080;
  color: #4EC9B0;
  color: #569cd6;
  color: #608b4e;
  color: #646695;
  color: #6796e6;
  color: #808080;
  color: #9cdcfe;
  color: #b5cea8;
  color: #C586C0;
  color: #ce9178;
  color: #d16969;
  color: #d4d4d4;
  color: #d7ba7d;
  color: #DCDCAA;
  color: #f44747;
}
